
:root {
	--theme-color: #3111e9;
	--dark-gray: #585858;
	--border-color: #ddd;
	--nav-size: 75px;
}


body {
	background: #FAFAFA;
}
.display-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.1;
}
.custom-nav {
	background: #fff;
	height: var(--nav-size);
}

.user-prfile img{
	--size: 35px;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	object-fit: cover;

}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-block .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}
.card-block .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}
.card {
    overflow: hidden;
}
.display-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.1;
}
.border-yellow-4001 {
    /* --tw-border-opacity: 1; */
    border-right:none !important;
    border-left:none !important;
    border-bottom-width: 8px;
    border-bottom: 8px solid rgb(250 204 21);
    margin-bottom: 22px;
    /* -webkit-box-shadow:0px 1px 1px #de1dde; */
 /* -moz-box-shadow:0px 1px 1px #de1dde;
 box-shadow:0px 1px 1px #de1dde; */
}   
.span-card img {
    width: 12px;
}
.card-wrapper-bot img {
    width: 12px;
}
.card-wrapper-bot {
    /* width: 44px; */
}
.box-img {
    width: 32px !important;
}
.span-card {
    border: 0.5px solid rgb(226, 226, 226);
    /* width: 15%; */
    /* margin: 4px; */
    background-color: #fff7f4;
    padding: 7px 12px;
    border-radius: 5px;
    font-weight: 500;

}
.table-wrapper-bar::-webkit-scrollbar
{
	
	/* background-color: #3b07c9; */
    /* border-radius: 10px; */
}

.table-wrapper-bar::-webkit-scrollbar {
    width: 5px;
  }
  .table-wrapper-bar::-webkit-scrollbar-thumb {
    background: #1e1be7;
    width: 2px !important; 
  }
  
  .table-wrapper-bar::-webkit-scrollbar-track {
    background: #ddd;
    width: 2px;
  }
  
  .table-wrapper-bar::-webkit-scrollbar-button {
    background: #ffffff;
    height: 15px;
    border-radius: 50%;
    width: 2px;
  }
  
  
  
.table-wrapper-bar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(85, 44, 199, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
.table-wrapper-bar {
overflow-y: auto;
    height: 310px;
}

.shadow {
   


 
    justify-content: center;
    padding-left: 12px;
  }
  .shadow.top {
    /* box-shadow: 0px -15px 10px -15px #111; */
  }
  .shadow.bottom {
    box-shadow: 0px 15px 10px -15px #a1a1a1 !important;
  }
  .shadow.left {
    /* box-shadow: -15px 0px 10px -15px #111; */
  }
  .shadow.right {
    /* box-shadow: 15px 0px 10px -15px #111; */
  }
.bell-icon-badge {
	font-size: 25px;
    position: relative;
}
.card-wrapper {
    border-radius: 13px;
    background-color: #044d9b;
    
    color: white;
}
.card-wrapper-Practices {
    border-radius: 13px;
    background-color: #007bff;
    color: white;
}
.card-wrapper-Count {
    border-radius: 13px;
    background-color: #4cf3ff;
    color: white;
}
.card-wrapper-Tickets {
    border-radius: 13px;
    background-color: #4c005f;
    color: white;
}
.table-wrapper {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}
.table-wrapper .table-header .title {
    /* margin: 12px; */
    padding: 17px 12px;
}
.table-wrapper .table-header {
    background-color: #dbdbdb;
}
.bell-icon-badge .bell-badge {
    background: #00C91F;
    color: #fff;
    border-radius: 50%;
    --size: 17px;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    font-size: 10px;
    position: absolute;
    left: 22px;
    text-align: center;
}

.navbar-light .navbar-brand {
    color: var(--theme-color);
    font-weight: bold;
}

#sidebar {
	border-right: 1px solid var(--border-color);
	height: calc(100vh - var(--nav-size))
}
#sidebar {
	padding-top: 30px;
}
#sidebar .sidebar-menu {
	list-style: none;
	padding: 0;

}

#sidebar .sidebar-menu li a {
	color: var(--dark-gray);
    display: block;
    padding: 9px 0;
    font-size: 14px;
    text-decoration: none;
     transition: all .4s;
}
#sidebar .sidebar-menu li a i {
	margin-right: 13px;
	font-size: 17px;
}

.btn-warning {
	color: #fff;
}

.btn.btn-theme {
	background: var(--theme-color);
	color: #fff;
	--padding: 25px;
	padding-left: var(--padding);
	padding-right: var(--padding);
}
.btn.btn-theme:hover {
	background: 
    /* Make a bit darker */
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    )
    var(--theme-color);
}

.dash-card {
	background: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 4px #00000012;
    border-radius: 3px;
    transition: transform .2s ease;
}
.md-card {
	background: #fff;
    padding: 10px;
    box-shadow: 0 0 4px #00000012;
}

.dash-card:hover {
	transform: translateY(-10px);
}

.dash-card .fa {
	font-size: 50px;
    color: var(--dark-gray);
}

.dash-card p {
	color: var(--dark-gray);
	margin-top: 1rem;
}
.dash-card .btn {
	margin-top: 20px;
}

.dash-card h1 {
	font-weight: 300;
}

.title {
	padding-bottom: 15px;
	color: var(--dark-gray);
}
.spacethis {
	padding-top: 30px;
}
sub {
	bottom: 0;
	font-size: 60%;
}

.table.no-border td {
	border:none;
}

.table.no-border th {
	border-top: none;
}

.table-user {
	--size: 30px;
	width: var(--size);
	height: var(--size);
	object-fit: cover;
	border-radius: 50%;
	margin-right: 5px;
}
.map-img {
	width: 100%;
    height: 286px;
    object-fit: cover;
}

.search-form {
	margin-left: 162px;
	position: relative;

}
.search-form .form-control {
	border:none;
	outline: 0;
}
.search-form .form-control:focus {
	outline: none;
	box-shadow: none;
}
.search-form .fa {
	font-size: 20px;
}

#sidebar .sidebar-menu li a:hover ,#sidebar .sidebar-menu li a.active{
	color: var(--theme-color);
}

/* -------------progress -bar------------ */


.progressBar {
    position: relative;
    background: transparent;
    height: 16px;
    border-radius: 8px;
  }
  .progressBar__fill {
    position: absolute;
    left: 3px;
    top: 3px;
    height: 10px;
    border-radius: 5px;
    background: #1A89B0;
    animation: expandWidth 1000ms ease-in-out 1;
  }
  .progressBar__fill1 {
    position: absolute;
    left: 3px;
    top: 3px;
    height: 10px;
    border-radius: 5px;
    background: #4ab01a;
    animation: expandWidth 1000ms ease-in-out 1;
  }
  .progressBar__fill2 {
    position: absolute;
    left: 3px;
    top: 3px;
    height: 10px;
    border-radius: 5px;
    background: #7dcaee;
    animation: expandWidth 1000ms ease-in-out 1;
  }
  .progressBar__fill3 {
    position: absolute;
    left: 3px;
    top: 3px;
    height: 10px;
    border-radius: 5px;
    background: #ddf35f;
    animation: expandWidth 1000ms ease-in-out 1;
  }
 
  .progressBar__fill4 {
    position: absolute;
    left: 3px;
    top: 3px;
    height: 10px;
    border-radius: 5px;
    background: #bebeb9;
    animation: expandWidth 1000ms ease-in-out 1;
  }
 
  .progressBar__fill6 {
    position: absolute;
    left: 3px;
    top: 3px;
    height: 10px;
    border-radius: 5px;
    background: #f07050;
    animation: expandWidth 1000ms ease-in-out 1;
  }
 
  .progressBar__fill5 {
    position: absolute;
    left: 3px;
    top: 3px;
    height: 10px;
    border-radius: 5px;
    background: #ffa51d;
    animation: expandWidth 1000ms ease-in-out 1;
  }
 
  
  @keyframes expandWidth {
    0% {
      width: 0;
    }
  }

 .progress-wrapper {
/* display: flex; */
 }
 .progress-bar1 {
    border: 1px solid #ffffff;
    width: 100%;
    height: 20px !important;
    border-radius: 4px;
    box-shadow: 0 0 3px #B0B0;
    backdrop-filter: blur(2px) brightness(101%);
 }


 
 .bar.albanian {
    background: tomato;
    width: 21%;
 }
/* -------------progress -bar------------ */
/*dropdown css*/

    .drop {
      position: relative;
      margin-right: 15px;
    }
    .drop .drop-menu {
    padding: 0;
      position: absolute;
      right: 0;
      -webkit-transition: all 0.2s cubic-bezier(0.680, 0, 0.265, 1);
      transition: all 0.2s;
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 0 0;
              transform-origin:top left;
      z-index: 100;
      background: #fff;
      border: 1px solid var(--border-color);
    }

    .drop .drop-menu:before {
    	content: "";
    	height: 10px;
    	width: 10px;
    	background: red;
    }

    .drop .drop-menu li {
      display: block;
      width: 100%;
      opacity: 0;
      transform: translate(-20px, 0px);
     
    }
    .drop.open .drop-menu li {
      display: block;
       transition: all .4s;
      opacity: 1;
      transform: translate(0px, 0);

        
    }
    .drop ul li a {
    width: 100%;
    padding: 6px 15px;
    white-space: pre;
    box-sizing: border-box;
    display: block;
    color: var(--dark-gray);
    text-decoration: none;
}


    .drop ul li a:hover {
      background: #ebebeb;
    }
     .nav ul{
      padding: 0;
    }

    .drop.open .drop-menu {
      -webkit-transform: scale(1);
        transform: scale(1);
        transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1);
    }

    .read-reviews-btn {

    }
.read-reviews {
position: absolute;
    top: 60px;
    background: #fff;
    box-shadow: 0 0 6px #00000030;
    padding: 20px;
    width: 92%;
    border-radius: 6px;
    display: none;
}

.read-reviews .name h4 {
display: inline;
    margin: 0;
    margin-right: 10px;
}
.read-reviews .name {
    border-bottom: 2px solid #ddd;
    margin-bottom: 12px;
    padding-top: 0;
    padding-bottom: 12px;
}
.close-reviews {
	float: right;font-size: 27px;
	cursor: pointer;
}

.col-xs-6 {
	width: 180px;
    padding: 7px;
    flex-grow: 1;
}
.mobile-menu {
	color: var(--dark-gray);
	margin-right: 10px;
  display:none;
}
  
 @media (max-width: 767px) {
	#sidebar {
		height: 100%;
		display: none;
	}
   .mobile-menu {
     display:block;
   }
	.navbar-nav {
		flex-direction: row;
	}

	.search-form {
		margin-left: 0;
		width: 47%;
	}

	.search-form .form-control {
		display: none;
	}

	.drop {
    margin-right: 25px;
}

.bell-icon-badge .bell-badge {
	left: 14px;
}

.md-card {
	overflow: scroll;
}


.mobile-menu  {
	display: block;
}

.search-form .fa {
    position: absolute;
    right: 22px;
    color: var(--dark-gray);
}

.mobile-scrollable {
	flex-wrap: nowrap;
	overflow-x: scroll;
	
} 
.mobile-scrollable .col-md-3 {
	padding: 6px;
}

.dash-card .fa {
	font-size: 30px;
}
.dash-card .btn {
    margin-top: 5px;
    padding: 3px 14px;
    
}
.dash-card h1 {
    font-weight: 300;
    font-size: 30px;
}

.dash-card p {
    color: var(--dark-gray);
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.spacethis {
    padding-top: 15px;
}

.title {
    padding-bottom: 0px;
    margin-top: 10px;
}



}
	



/* --------chart ui --------- */
.pie-chart {
    background: radial-gradient(
        circle closest-side,
        white 0,
        white 90%,
        transparent 90%,
        transparent 100%,
        white 0
      ),
      conic-gradient(
        from 180deg,
        #a04cbe 0,
        #a04cbe 1%,
        #710f95 0,
        #710f95 3%,
        #cce0ff 0,
        #cce0ff 91%,
        #c79a00 0,
        #c79a00 95%,
        #ffca28 0,
        #ffca28 100%
      );
    position: relative;
    width: 500px;
    min-height: 350px;
    margin: 0;
    outline: 1px solid #ccc;
  }
  .pie-chart figcaption {
    position: absolute;
    bottom: 1em;
    right: 1em;
    font-size: smaller;
    text-align: right;
  }
  .pie-chart span:after {
    display: inline-block;
    content: "";
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.4em;
    height: 0.8em;
    border-radius: 0.2em;
    background: currentColor;
  }
  
/* --------chart ui --------- */


/* ===========profile */
/* ===========profile */